@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.logoFonts {
  font-family: "Dancing Script", cursive !important;
}

@media (prefers-color-scheme: dark) {
  #root {
    background-color: black;
  }
}

.scroll-parent {
  position: relative;
  width: 100%;
  height: 3rem;
  overflow-x: hidden;
}

.scroll-element {
  position: absolute;
}
.primary {
  animation: primary 10s linear infinite;
}

.secondary {
  animation: secondary 10s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@media only screen and (max-width: 600px) {
}
