* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  #root {
    background-color: black;
  }
}
